# Email settings
EMAIL_HOST_USER = your_EMAIL_HOST_USER
EMAIL_HOST_PASSWORD = your_EMAIL_HOST_PASSWORD

# Celery settings
CELERY_BROKER_URL = your_CELERY_BROKER_URL_or_redis://localhost:6379
CELERY_RESULT_BACKEND = your_CELERY_RESULT_BACKEND_or_redis://localhost:6379

# Telegram bot settings.py
TELEGRAM_BOT_API = your_TELEGRAM_BOT_API

# Database settings
DB_ENGINE = your_DB_ENGINE
DB_NAME = your_DB_NAME
DB_USER = your_DB_USER
DB_PASSWORD = your_DB_PASSWORD
DB_HOST = your_DB_HOST_or_localhost
DB_PORT = your_DB_PORT_or_5432

# Django settings
DEBUG = True_or_False
SECRET_KEY_DRF = your_SECRET_KEY_DRF

# Data admin and manager
PASSWORD = your_PASSWORD_or_12345
EMAIL_ADMIN = your_EMAIL_ADMIN_or_admin@test.com
NAME_ADMIN = your_NAME_ADMIN_or_Admin